body{
    margin: 0%;
}
span{
    color: goldenrod;
}
.wrapper-one{
    display: flex;
}
.wrapper-two{
    display: flex;
}
.half{
    width: 50%;
    margin: 20px 20px 20px 60px;
    
    
}
img{
    width: 80%;
    height: 80%;
    
}
.hire{
    text-decoration: none;
    background-image: linear-gradient(goldenrod,tomato);
    padding: 10px;
    color: white;
    font-weight: 700;
    border-radius: 10px;
}
.wrapper-one{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.wrapper-two{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.wrapper-three{
    display: flex;
}
#ex1{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
    box-shadow: black;
}
#ex2{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
.half-width{
    margin-left: 5%;
    margin-right: 5%;
    width: 40%;
    border-radius: 15px;
    box-shadow: 10px 10px 20px black;
}
section{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
footer p{
    margin-top: 50px;
    text-align: center;
}